.well {
  display: flex;
  align-items: center;
  color: var(--well--color);
  padding: 2rem;
  border-radius: 0.3rem;
  width: 100%;
}

.well.default {
  background-color: #fff;
  border: 1px solid var(--well--default--color);
}

.well.error {
  background-color: var(--well--error--background-color);
  border: 1px solid var(--well--error--border-color);
  color: var(--well--error--color);
}

.well.error svg {
  color: var(--well--error--icon--color);
}

.well.success {
  background-color: var(--well--success--background-color);
  border: 1px solid var(--well--success--border-color);
  color: var(--well--success--color);
}

.well.success svg {
  color: var(--well--success--icon--color);
}

.well .icon {
  height: 2rem;
  margin-right: 2rem;
}
