.well {
  display: flex;
  align-items: center;
  color: var(--well--color);
  padding: 2rem;
  border-radius: 0.3rem;
  width: 100%;
}

.well.default {
  background-color: #fff;
  border: 1px solid var(--well--default--color);
}

.well.error {
  background-color: var(--error-background-color);
  border: 1px solid var(--error-border-color);
  fill: var(--error-border-color);
}

.well.error svg {
  color: var(--error-border-color);
}

.well.success {
  background-color: var(--success-background-color);
  border: 1px solid var(--success-border-color);
  fill: var(--success-border-color);
}

.well.success svg {
  color: var(--success-border-color);
}

.well .icon {
  height: 2rem;
  margin-right: 2rem;
}
