
.meter {
  -moz-appearance: none;
  border: none;
  max-width: 17rem;
  height: 0.5rem;
  background: none;
  background-color: var(--color-lightgrey);
  border-radius: 0.25rem;

}
.meter::-webkit-meter-bar {
  background: none;
  background-color: var(--color-lightgrey);
  max-width: 17rem;
  border-radius: 0.25rem;
}
.passwordScoreWrapper {
  display: flex;
  max-width: 25rem;
  padding: 0.6rem;
}
.strength {
  margin-left: 20%;
  margin-top: -4px;
  font-size: 12px;
}


meter[value="1"]::-webkit-meter-optimum-value {background: var(--color-lightgrey); border-radius: 0.25rem;}
meter[value="2"]::-webkit-meter-optimum-value {background: var(--color-red); border-radius: 0.25rem;}
meter[value="3"]::-webkit-meter-optimum-value {background: var(--color-yellow-light); border-radius: 0.25rem;}
meter[value="4"]::-webkit-meter-optimum-value {background: var(--color-green); border-radius: 0.25rem;}


meter[value="1"]::-moz-meter-bar {background: var(--color-lightgrey); border-radius: 0.25rem;}
meter[value="2"]::-moz-meter-bar {background: var(--color-red); border-radius: 0.25rem;}
meter[value="3"]::-moz-meter-bar {background: var(--color-yellow-light); border-radius: 0.25rem;}
meter[value="4"]::-moz-meter-bar {background: var(--color-green); border-radius: 0.25rem; height: 0.5rem;}
