.passwordButton {
  border: 0;
  background: none;
  box-shadow: none;
  border-radius: 0px;
  border-bottom: 2px solid var(--primary-button-background-active-color);
}

.icon {
  height: 1rem;
  width: 1rem;
}
