.passwordMeter {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
  width: 17rem;
  height: 0.5rem;
}

.passwordMeter::-webkit-progress-bar {
  background-color: #a2aaad;
  border-radius: 0.25rem;
}
.passwordMeter::-moz-progress-value {
  background-color: #a2aaad;
  border-radius: 0.3rem;
}

.passwordMeter::-moz-progress-bar {
  background-color: green;
  border-radius: 0.25rem;
}

.Empty::-moz-progress-bar{
  background-color: #a2aaad;
  border-radius: 0.25rem;
}

.Weak::-moz-progress-bar {
  background-color: #cf6679;
  border-radius: 0.25rem;
}

.Fair::-moz-progress-bar {
  background-color: #ffe066;
  border-radius: 0.25rem;
}

.Strong::-moz-progress-bar {
  background-color: #6cc24a;
  border-radius: 0.25rem;
}

.passwordMeter::-webkit-progress-value {
  border-radius: 0.3rem;
}

.Empty::-webkit-progress-value {
  background-color: #a2aaad;
}

.Weak::-webkit-progress-value {
  background-color: #cf6679;
  max-width: 3.5rem;
}

.Fair::-webkit-progress-value {
  background-color: #ffe066;
  max-width: 50%;
}

.Strong::-webkit-progress-value {
  background-color: #6cc24a;
}








