.meter {
  -moz-appearance: none;
  border: none;
  width: 68.342%;
  height: 0.5rem;
  background: none;
  background-color: var(--color-lightgrey);
  border-radius: 0.25rem;

}
.meter::-webkit-meter-bar {
  background: none;
  background-color: var(--color-lightgrey);
  width: 100%;
  border-radius: 0.25rem;
}
.passwordScoreWrapper {
  display: flex;
  width: 24.875rem;
  padding: 0.6rem;
  justify-content: space-between;
}
.strength {
  margin-top: -4px;
  font-size: 12px;
}
.wordWeak {
  color: var(--color-red)
}
.wordFair {
  color: var(--color-yellow-light)
}
.wordStrong {
  color: var(--color-green)
}

meter[value="1"]::-webkit-meter-optimum-value {background: var(--color-lightgrey); border-radius: 0.25rem;}
meter[value="2"]::-webkit-meter-optimum-value {background: var(--color-red); border-radius: 0.25rem; width: 20.6% !important;}
meter[value="3"]::-webkit-meter-optimum-value {background: var(--color-yellow-light); border-radius: 0.25rem; width: 50% !important;}
meter[value="4"]::-webkit-meter-optimum-value {background: var(--color-green); border-radius: 0.25rem;}


meter[value="1"]::-moz-meter-bar {background: var(--color-lightgrey); border-radius: 0.25rem; width: 100%;}
meter[value="2"]::-moz-meter-bar {background: var(--color-red); border-radius: 0.25rem;}
meter[value="3"]::-moz-meter-bar {background: var(--color-yellow-light); border-radius: 0.25rem;}
meter[value="4"]::-moz-meter-bar {background: var(--color-green); border-radius: 0.25rem;}
