.radio {
  composes: checkbox from './checkbox.module.css'
}

.disabled {
  composes: disabled from './checkbox.module.css'
}

.label {
  composes: label from './checkbox.module.css'
}

.label::before {
  border-radius: 50%;
}

.label::after {
  border-radius: 50%;
}

.input {
  composes: input from './checkbox.module.css'
}

