.select,
.select > * {
  box-sizing: border-box;
}

.select {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  color: var(--textfield--color);
}

.header {
  z-index: 1;
  display: flex;
}

.header::after {
  position: absolute;
  right: 1rem;
  align-self: center;
  border-style: solid;
  border-width: 0.15em 0.15em 0 0;
  content: '';
  height: 0.45em;
  transform: rotate(45deg);
  width: 0.45em;
  color: var(--textfield--color);
  transition: transform 250ms ease;
}

.header.visible::after {
  transform: rotate(135deg);
}

.textField:hover:not(:disabled){
  cursor: pointer;
}

.options {
  position: absolute;
  display: block;
  background-color: #fff;
  margin-block-start: 0;
  margin-block-end: 0;
  top: 3rem;
  padding: 0.5rem;
  box-shadow: 0 0.3rem 1rem 0 rgba(0, 0, 0, 0.1);
  border-radius: 0 0 0.3rem 0.3rem;
  width: 100%;
  z-index: 2;
}

.option,
.noOption{
  padding: 0.3rem;
  list-style: none;
}


.option {
  cursor: pointer;
  transition: background-color 250ms ease;
}

.option + .option {
  border-top: 1px solid rgba(119, 119, 119, 0.5);
}

.option:last-of-type {
  border-radius: 0 0 0.3rem 0.3rem;
}

.option:hover,
.option:focus,
.option.selected {
  background-color: lightgray;
}

.disabled {
  background-color: lightgray;
  cursor: not-allowed;
}
