.container {
  width: 100%;
  display: flex;
}

.textfield {
  border: none;
  border-bottom: 1px solid #f6be00;
  color: #333f48;
  width: inherit;
}

.icon {
  height: 1rem;
  width: 1rem;
}

.valid {
  border-bottom: 1px solid #6cc24a;
}

.invalid {
  border-bottom: 1px solid #cf6679;
}

.validIcon {
  fill: #6cc24a;
}

.invalidIcon {
  fill: #cf6679;
}
