link {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--button--primary--color);
  font-size: 0.875rem;
  background-color: transparent;
  border: none;
  border-radius: 0;
  border-bottom: 2px solid var(--button-primary--background-color);
  cursor: pointer;
  text-decoration: none;
  padding: 0.5rem 0;
  font-weight: 600;
  box-shadow:none
}
.link:hover {
  border-color: transparent;
}
.link-visited {
  color: var(--button--primary--background-color);
}
