.customPill {
 --pill--background-color: hotpink;
 --pill--border-radius: 0;
 --pill--color: white;
 --pill--action--background-color: lawngreen;
 --pill--action--background-color--hover: aqua;
 --pill--action--background-color--focus: maroon;
}

.pill{
  margin-left: 2rem;
}

.pillAction {
  margin-right: 1rem;
}