:root {
  /* colors */
  --color-red: #cf6679;
  --color-yellow: #f6be00;
  --color-yellow-light: #ffd547;
  --color-green: #6cc24a;
  --color-purple: #8031a7;
  --color-blue: #48a9c5;
  --color-blue-light: #7fc3d7;
  --color-grey: #888b8d;
  --color-lightgrey-light: #f8f8f8;
  --color-lightgrey: #a2aaad;
  --color-darkgrey: #333f48;
  --color-darkgrey-light: #70797f;

  /* Globals */
  --global--font-family: 'Open Sans';
}

.dark {
  /* Globals */
  --global--border-radius: 0.3rem;

  /* Colors */
  --color-primary: var(--color-yellow);
  --color-primary-light: var(--color-yellow-light);
  --color-secondary: var(--color-darkgrey);
  --color--text--dark: var(--color-secondary);
  --color-success: var(--color-green);
  --color-error: var(--color-red);

  /* Buttons */
  --button--font-family: var(--global--font-family);
  --button--border-radius: var(--global--border-radius);
  --button--opacity--hover: 0.7;
  --button--box-shadow: 0 0.3125rem 0.9375rem 0 rgba(0, 0, 0, 0.1);

  --button--disabled--background-color: #e4e4e4;
  --button--disabled--color: #9e9e9e;

  --button--primary--background-color: var(--color-primary);
  --button--primary--color: var(--color-darkgrey);
  --button--primary--background-color--active: var(--color-primary);
  --button--primary--color--active: var(--color-darkgrey);
  --button--primary--background-color--hover: var(--color-primary);
  --button--primary--color--hover: var(--color-darkgrey);
  --button--primary--background-color--focus: var(
    --button--primary--background-color--hover
  );
  --button--primary--color--focus: var(--button--primary--color--hover);

  --button--secondary--background-color: var(--color-darkgrey);
  --button--secondary--color: #fff;
  --button--secondary--background-color--active: var(--color-darkgrey);
  --button--secondary--color--active: #fff;
  --button--secondary--background-color--hover: var(--color-darkgrey);
  --button--secondary--color--hover: #fff;
  --button--secondary--background-color--focus: var(
    --button--secondary--background-color--hover
  );
  --button--secondary--color--focus: var(--button--secondary--color--hover);

  --button--tertiary--background-color: var(--color-blue);
  --button--tertiary--color: var(--color--text--dark);
  --button--tertiary--background-color--active: var(--color-blue);
  --button--tertiary--color--active: #fff;
  --button--tertiary--background-color--hover: var(--color-blue);
  --button--tertiary--color--hover: #fff;
  --button--tertiary--background-color--focus: var(
    --button--tertiary--background-color--hover
  );
  --button--tertiary--color--focus: var(--button--tertiary--color--hover);

  --close-button-text: #f2f2f2;
  --close-button-hover: #b7b7b7;
  --close-button-active: #cfcfcf;

  /* Switch */
  --toggle-button-background: #e3e3e3;
  --toggle-button-background-active: #6cc24a;
  --toggle-button-border: #3a3b4d;
  --toggle-button-slider: #ffffff;
  --toggle-button-slider-active: #ffffff;

  /* Pill */
  --pill--background-color: var(--color-lightgrey-light);
  --pill--color: var(--color-secondary);
  --pill--action--background-color--hover: var(--color-lightgrey);
  --pill--action--background-color--focus: var(--pill--action--background-color--hover);

  /* Dialog */
  --dialog--header--background-color: var(--color-primary);

  /* TextField */
  --text-field--color: var(--color-primary);
  --text-field--color--valid: var(--color-success);
  --text-field--color--invalid: var(--color-error);

  /* Checkbox */
  --checkbox--label--color: var(--color--text--dark);
  --checkbox--border-color: var(--color-darkgrey);
  --checkbox--check--color: var(--color-primary);

  /* Slider */
  --slider--track--color--internal: var(--color-primary);
  --slider--value--background-color: var(--color-primary);

  /* Well */
  --well--color: var(--color-secondary);
  --well--default--color: var(--well--color);
  /* Well/Error */
  --well--error--background-color: rgba(207, 102, 121, 0.2);
  --well--error--border-color: var(--color-error);
  --well--error--color: var(--well--color);
  --well--error--icon--color: var(--well--error--border-color);
  /* Well/Success */
  --well--success--background-color: rgba(108,194,74, 0.2);
  --well--success--border-color: var(--color-success);
  --well--success--color: var(--well--color);
  --well--success--icon--color: var(--well--success--border-color);

  /* Textfield */
  --textfield--color: var(--color-secondary);

  /* Password-strength-meter */
  --password-strength-meter--background-color: var(--color-lightgrey);
  --password-strength-meter--weak--background-color: var(--color-red);
  --password-strength-meter--fair--background-color: var(--color-yellow-light);
  --password-strength-meter--strong--background-color: var(--color-green);

}

body {
  background-color: lightgrey;
  font-family: var(--global--font-family);
}

.light {
  --foreground-color-primary: #3a3b4d;
  --background-color-primary: #fff;
  --foreground-color-secondary: #f2f2f2;
  --background-color-secondary: #f2f2f2;

  --primary-button-background-color: var(--primary-background-color);
  --primary-button-foreground-color: var(--primary-foreground-color);
  --primary-button-background-active-color: rgba(246, 190, 0, 1);
  --primary-button-foreground-active-color: rgba(0, 0, 0, 1);
  --primary-button-background-hover-color: rgba(246, 190, 0, 0.6);
  --primary-button-foreground-hover-color: rgba(0, 0, 0, 0.6);

  --secondary-button-background-color: var(--primary-foreground-color);
  --secondary-button-foreground-color: rgba(255, 255, 255, 0.8);
  --secondary-button-background-active-color: rgba(0, 0, 0, 1);
  --secondary-button-foreground-active-color: rgba(255, 255, 255, 1);
  --secondary-button-background-hover-color: rgba(0, 0, 0, 0.6);
  --secondary-button-foreground-hover-color: rgba(255, 255, 255, 0.6);

  --tertiary-button-background-color: rgba(72, 169, 197, 0.8);
  --tertiary-button-foreground-color: var(--primary-foreground-color);
  --tertiary-button-background-active-color: rgba(72, 169, 197, 1);
  --tertiary-button-foreground-active-color: rgba(255, 255, 255, 1);
  --tertiary-button-background-hover-color: rgba(72, 169, 197, 0.6);
  --tertiary-button-foreground-hover-color: rgba(255, 255, 255, 0.6);

  --close-button-text: #3a3b4d;
  --close-button-hover: #b7b7b7;
  --close-button-active: #cfcfcf;

  --toggle-button-background: #b7b7b7;
  --toggle-button-background-active: #979797;
  --toggle-button-border: #3a3b4d;
  --toggle-button-slider: #f2f2f2;
  --toggle-button-slider-active: #5795f1;

  --tabbed-panel-tab: #5795f1;
  --tabbed-panel-tab-hover: #6fa2ec;
  --tabbed-panel-tab-active: #5795f1;

  --list-item-background: rgba(87, 149, 241, 0.7);
  --list-item-background-hover: rgba(87, 149, 241, 0.25);

  --menu-foreground: #fff;
  --menu-background: #5795f1;
  --menu-border: #808080;
  --menu-item-hover: #6fa2ec;
  --menu-item-active: #4984dc;

  --search: url('/search-light.svg');
}
