.btnGroup {
  display: flex;
  padding: 1rem;
}
.meterGroup {
  display: flex;
  flex-direction: column;
}

.btnGroup > * {
  margin: 1rem;
}

.detail {
  background-color: var(--color-secondary);
  color: #fff;
  padding: 1rem;
}

.icon {
  height: 2rem;
  padding: 1rem;
}

.btnIcon {
  height: 1rem;
}

.color {
  color: green;
}

textarea:focus,
input:focus {
  outline: none;
}

.iconSet, .iconGroup {
  display: flex;
}

.iconSet {
  flex-wrap: wrap;
  max-width: 100%;
}

.iconGroup {
  flex-direction: column;
  margin-left: 1rem;
}

.iconGroup p {
  margin-top: 0;
}
