.group {
  display: flex;
  flex-grow: 1;
}
.button {
  border: none;
  text-decoration: none;
  border-radius: var(--button--border-radius);
  padding: 0.75rem 4.625rem;
  font-size: 1.125rem;
  font-family: var(--button--font-family);
  font-weight: 600;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  box-shadow: var(--button--box-shadow);
  transition: opacity 250ms ease, color 250ms ease;
  border-radius: 0;
}
.button:first-child {
  border-radius: 4px 0 0 4px;
}
.button:not(:first-child) {
  border-left: 1px solid var(--button--primary--color);
}
.button:last-child {
  border-radius: 0 4px 4px 0;
}
.active {
  /* composes: primary from './button.module.css'; */
  background-color: #000;
  color: #fff;
}

.inactive {
  background-color: var(--button--primary--background-color);
  color: var(--button--primary--color);
}

.inactive:hover {
  background-color: var(--button--primary--background-color--hover);
  color: var(--button--primary--color--hover);
}

.inactive:focus {
  background-color: var(--button--primary--background-color--focus);
  color: var(--button--primary--color--focus);
}

.inactive:active {
  background-color: var(--button--primary--background-color--active);
  color: var(--button--primary--color--active);
}
