.button {
  border: none;
  text-decoration: none;
  border-radius: var(--button--border-radius);
  padding: 1rem 4.625rem;
  font-size: inherit;
  font-family: var(--button--font-family);
  font-weight: 600;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  box-shadow: var(--button--box-shadow);
}

.button:hover,
.button:focus {
  outline: none;
  opacity: var(--button--opacity--hover);
}

.disabled,
.disabled:hover {
  background: var(--button--disabled--background-color);
  color: var(--button--disabled--color);
  cursor: not-allowed;
}

.round {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0.5rem;
  border-radius: 50%;
}

.primary {
  background-color: var(--button--primary--background-color);
  color: var(--button--primary--color);
}

.primary:hover {
  background-color: var(--button--primary--background-color--hover);
  color: var(--button--primary--color--hover);
}

.primary:focus {
  background-color: var(--button--primary--background-color--focus);
  color: var(--button--primary--color--focus);
}

.primary:active {
  background-color: var(--button--primary--background-color--active);
  color: var(--button--primary--color--active);
}

.secondary {
  background-color: var(--button--secondary--background-color);
  color: var(--button--secondary--color);
}

.secondary:hover {
  background-color: var(--button--secondary--background-color--hover);
  color: var(--button--secondary--color--hover);
}

.secondary:focus {
  background-color: var(--button--secondary--background-color--focus);
  color: var(--button--secondary--color--focus);
}

.secondary:active {
  background-color: var(--button--secondary--background-color--active);
  color: var(--button--secondary--color--active);
}

.tertiary {
  background-color: var(--button--tertiary--background-color);
  color: var(--button--tertiary--color);
}

.tertiary:hover {
  background-color: var(--button--tertiary--background-color--hover);
  color: var(--button--tertiary--color--hover);
}

.tertiary:focus {
  background-color: var(--button--tertiary--background-color--focus);
  color: var(--button--tertiary--color--focus);
}

.tertiary:active {
  background-color: var(--button--tertiary--background-color--active);
  color: var(--button--tertiary--color--active);
}

.link {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--button--primary--color);
  background-color: transparent;
  border: none;
  border-radius: 0;
  border-bottom: 2px solid var(--button--primary--background-color);
  cursor: pointer;
  text-decoration: none;
  padding: 0.5rem 0;
  font-weight: 600;
}

.link:hover {
  border-color: transparent;
}

.link:visited {
  color: var(--button--primary--background-color);
}
