.group {
  display: flex;
  flex-grow: 1;
}
.button {
  composes: button from './button.module.css';
  border-radius: 0;
}
.button:first-child {
  border-radius: 4px 0 0 4px;
}
.button:not(:first-child) {
  border-left: 1px solid var(--button--primary--color);
}
.button:last-child {
  border-radius: 0 4px 4px 0;
}
.active {
  /* composes: primary from './button.module.css'; */
  background-color: #000;
  color: #fff;
}

.inactive {
  composes: primary from './button.module.css';
  /* composes: secondary from './button.module.css'; */
}
