.info {
  border: none;
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  padding: 0.5rem;
  background-color: #a2aaad;
}

.info:hover {
  background-color: red;
}

.info:active {
  background-color: green;
}

.icon {
  height: 1rem;
  fill: var(--close-button-text);
}
