/*
toggle styles copied and modified from
https://codepen.io/mallendeo/pen/eLIiG
by Mauricio Allende (https://mallendeo.com/)
 */

.switch {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.switch input {
  position: absolute;
  opacity: 0;
}

.switch.disabled {
  opacity: 0.5;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
}

.switch .toggle-btn {
  --toggle-height: 1rem;
  --toggle-width: calc(var(--toggle-height) * 1.875);
  --transition: all 0.4s ease;
  --slider-size: calc(
    var(--toggle-height) - calc(var(--toggle-height) * 0.125)
  );
  box-sizing: initial;
  display: inline-block;
  outline: 0;
  width: var(--toggle-width);
  height: var(--toggle-height);
  padding: 0;
  position: relative;
  cursor: pointer;
  user-select: none;
  background: var(--toggle-button-background);
  border-radius: var(--toggle-height);
  transition: var(--transition);
  border: none;
  margin-right: 0.5rem;
}

.switch .toggle-btn::after {
  left: calc(var(--toggle-height) * 0.0625);
  position: relative;
  display: block;
  content: '';
  width: var(--slider-size);
  height: var(--slider-size);
  border-radius: 50%;
  background: var(--toggle-button-slider);
  transition: var(--transition);
}

.switch .toggle-btn.toggle-btn-on {
  background-color: var(--toggle-button-background-active);
}

.switch .toggle-btn.toggle-btn-on::after {
  left: calc(var(--toggle-height) * 0.875);
  background: var(--toggle-button-slider-active);
}

.switch .toggle-input {
  display: none;
}

.switch .toggle-btn:disabled {
  opacity: 0.5;
}
